<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Registrate</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container my-5">
      <div class="jumbotron">
        <h1>Registrarse</h1>
        <br />
        <form
          class="form"
          role="form"
          action="/register"
          method="post"
          autocomplete="off"
        >
        <div class="form-group">
          <input
            name="mail"
            placeholder="Email"
            class="form-control"
            type="email"
            required
          />
        </div>
        <div class="form-group">
          <input
            name="password"
            placeholder="Contraseña"
            class="form-control"
            type="password"
            required
          />
          <div class="form-group">
            <input class="btn btn-success my-3" type="submit" value="Registrarse" />
          </div>
        </form>

        <form action="/login" method="get">
          <input class="btn btn-danger my-5" type="submit" value="Iniciar Sesión" />
        </form>
      </div>
    </div>
  </body>
</html>
